.__ptsd-hide {
  filter: blur(3px);
  cursor: pointer;
  opacity: 0.75;
}
.__ptsd-show {
  filter: blur(0) !important;
  transition-property: filter;
  transition-duration: 200ms;
}
.__ptsd-hide:hover {
  filter: blur(2px);
  transition-property: filter;
  transition-duration: 200ms;
}
