.__ptsd-hide {
  filter: blur(0.2em);
  cursor: pointer;
  opacity: 0.75;
  transition-property: filter;
  transition-duration: 200ms;
}
img.__ptsd-hide {
  filter: blur(10px);
}
.__ptsd-show {
  filter: blur(0em) !important;
}
img.__ptsd-hide:hover {
  filter: blur(5px);
}
.__ptsd-hide:hover {
  filter: blur(0.15em);
}
